{% load static %}

<!DOCTYPE html>
<head>
  <title> Resume Builder</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>     
  <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
</head>
<body class="body"> 
  
<div class="container" align="center" style="margin-top: 150px;">
  <h2>The Online Resume Builder</h2><br>
  <div class="card">
    <div class="card-body">
       <p> A Quick and Easy Way to Create Your Professional Resume. All of which can be customized to your liking.
            Fast and Easy to Use this resume builder lets you easily and quickly create a resume using our resume builder
        </p>
    </div>
  </div><br><br>
  <button class="btn btn-info" ><a class='link' href="/insert"> YOUR RESUME NOW</a></button>
</div>

</body>
</html>
